@model IEnumerable<Outfits.Models.Product>

@{
    ViewData["Title"] = "Index";
}

<h1>Parduotuvė</h1>

<p>
    <a asp-action="Create">Įkelti naują prekę</a>
</p>
<div class="card-columns">
    @foreach (var item in Model)
    {
        <div class="col mb-4">
            <div class="card">
                <a asp-action="Details" asp-route-id="@item.Id"><img src="@("~/image/" + item.ImageName)" class="card-img-top" asp-append-version="true" /></a>
                <div class="card-body">
                    <h5 class="card-title">Pavadinimas - @Html.DisplayFor(modelItem => item.Name)</h5>
                    <p class="card-text">Aprašymas - @Html.DisplayFor(modelItem => item.Description)</p>
                    <p class="card-text">Kaina - @Html.DisplayFor(modelItem => item.Price) €</p>

                    <p>@Html.ActionLink("Prideti i krepseli", "AddToCart", new { id = item.Id })</p>
                    <p> @Html.ActionLink("Prideti i noru sarasa", "AddToWishList", new { id = item.Id })</p>
                    <div class="d-flex flex-row ml-1">
                        @if (!item.WhoHasLiked.Contains("*" + User.Identity.Name + "*"))
                        {<p>@Html.ActionLink("Like", "Like", new { id = item.Id })</p>}
                        @if (item.WhoHasLiked.Contains("*" + User.Identity.Name + "*"))
                        {<p>@Html.ActionLink("Dislike", "Dislike", new { id = item.Id }) </p>}

                        <p class="px-1">@Html.DisplayFor(modelItem => item.Likes)</p>
                    </div>
                </div>
            </div>

        </div>
    }
</div>


