@model IEnumerable<Outfits.Models.Product>

@{
    ViewData["Title"] = "Index";
}

<h1>Norų sąrašas</h1>

<div class="card-columns">
    @foreach (var item in Model)
    {
        @if (item.HasInWishList.Contains("*" + User.Identity.Name + "*"))
        {<div class="col mb-4">
                <div class="card">
                    <a asp-action="Details" asp-route-id="@item.Id"><img src="@("~/image/" + item.ImageName)" class="card-img-top" asp-append-version="true" /></a>
                    <div class="card-body">
                        <h5 class="card-title">@Html.DisplayFor(modelItem => item.Name)</h5>
                        <p class="card-text">@Html.DisplayFor(modelItem => item.Description)</p>
                        <p class="card-text">@Html.DisplayFor(modelItem => item.Price) €</p>

                        <p>@Html.ActionLink("Pridėti į krepšelį", "AddToCart", new { id = item.Id })</p>
                        <p>@Html.ActionLink("Pašalinti iš norų sąrašo", "RemoveFromWishList", new { id = item.Id })</p>
                    </div>
                </div>

            </div>          }

    }
</div>


