@model IEnumerable<Outfits.Models.OutfitPost>

@{
    ViewData["Title"] = "Index";
}

<h1>Drabužių skelbimai</h1>

<p>
    <a asp-action="Create">Įkelti naują skelbimą</a>
</p>
<div class="card-columns">
    @foreach (var item in Model)
    {
        <div class="col mb-4">
            <div class="card">
                <a asp-action="Details" asp-route-id="@item.Id"><img src="@("~/image/" + item.ImageName)" class="card-img-top" asp-append-version="true" /></a>
                <div class="card-body">
                    <h5 class="card-title">@Html.DisplayFor(modelItem => item.username)</h5>
                    <p class="card-text">@Html.DisplayFor(modelItem => item.Description)</p>
                </div>
                @*<div class="card-footer">
                        <small class="text-muted">@Html.DisplayFor(modelItem => item.Likes)</small>
                    </div>*@
            </div>

        </div>
    }
</div>
